@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root{
    font-family: 'Work Sans', sans-serif;
}
html, body{
    background-color: rgb(42, 40, 40);
    padding: 0px;
    margin: 0px;
    color: white;
}
aside{
    height: calc(100vh - 1.0em);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 4em;
    background-color: rgb(26, 26, 26);
    padding-top: 1em;
    z-index: 2;
}
.button{
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    margin: 5px;
}
#themeimg{
    width: 1.2em;
    height: 1.2em;
}
#centerx{
    display: flex;
    justify-content: center;
}
.user{
    background-color: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
span{
    color: rgb(255, 255, 255);
}
.user span{ 
    color: rgb(0, 0, 0);
}
main{
    width: 100%;
}
#rowflex{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#banner-top{
    background-image: linear-gradient(rgb(40, 0, 255), rgba(255, 0, 0, 0));
    padding: 10px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#usermenu{
    background-color: rgb(52, 52, 52);
    height: 7.5em;
    width: 14em;
    position: absolute;
    bottom: 6em;
    z-index: 3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.hidden{
    display: none;
}