@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
:root{
    font-family: 'Work Sans', sans-serif;
}
html, body{
    background-color: rgb(42, 40, 40);
    padding: 0px;
    margin: 0px;
    color: white;
}
aside{
    height: calc(100vh - 1.0em);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 4em;
    background-color: rgb(26, 26, 26);
    padding-top: 1em;
    z-index: 2;
}
.button{
    background-color: rgb(80, 80, 80);
    border: 1px solid rgb(0, 0, 0);
    width: fit-content;
    height: fit-content;
    padding: 4px;
    border-radius: 5px;
    display: flex;
    cursor: pointer;
    margin: 5px;
}
#themeimg{
    width: 1.2em;
    height: 1.2em;
}
#centerx{
    display: flex;
    justify-content: center;
}
.user{
    background-color: rgb(255, 255, 255);
    width: 2em;
    height: 2em;
    border-radius: 50%;
}
span{
    color: rgb(255, 255, 255);
}
.user span{ 
    color: rgb(0, 0, 0);
}
main{
    width: 100%;
}
#rowflex{
    display: flex;
    flex-direction: row;
    width: 100vw;
}
#banner-top{
    background-image: linear-gradient(rgb(40, 0, 255), rgba(255, 0, 0, 0));
    padding: 10px;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
#usermenu{
    background-color: rgb(52, 52, 52);
    height: 7.5em;
    width: 14em;
    position: absolute;
    bottom: 6em;
    z-index: 3;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.hidden{
    display: none;
}
.tooltip {
    position: relative;
}

/* Tooltip box */
.tooltip:before {
    content: attr(data-tooltip); 
    position: absolute;
    width: 100px;
    background-color: #062B45;
    color: #fff;
    text-align: center;
    padding: 10px;
    line-height: 1.2;
    border-radius: 6px;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.1s;
    top: 50%;
    left: 125%;
    transform: translate(10px, -50%);
    font-size: 0.75em;
    visibility: hidden;
    font-family: 'Work Sans', sans-serif;
}

/* Tooltip arrow */
.tooltip:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    opacity: 0;
    transition: opacity 0.1s;
    border-color: transparent transparent transparent #062B45;
    visibility: hidden;
    font-family: 'Work Sans', sans-serif;
}

.tooltip:hover:before, .tooltip:hover:after {
    opacity: 1;
    visibility: visible;
}
#recorddisplay {
    width: 410px;
    height: 65%;
    background-color: white;
    margin: 1em auto;
    color: black;
    padding: 10px;
}
#recorddisplay span{
    color: black;
}

table{
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even){background-color: #f2f2f2;}
  
table tr:hover{background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.blue{
    background-color: rgb(116, 162, 204);
}
.user img{
    width: 2em;
    height: 2em;
    border-radius: 50%;
}