:root, body, html{
    overflow: hidden;
}
#tags{
    height: fit-content;
    width: 90%;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
    overflow: scroll;
}
#topic{
    background-color: rgb(141, 93, 172);
    padding: 3px;
    border-radius: 10px;
    margin-left: 10px;
}
.tag{
    background-color: rgb(141, 93, 172);
    padding: 3px;
    border-radius: 10px;
    margin-left: 5px;
}
#tag{
    background-color: rgb(141, 93, 172);
    padding: 3px;
    border-radius: 10px;
    margin-left: 5px;
}
#newusers{
    overflow: scroll;
    height: 30vh;

}
#populartopics{
    overflow: hidden;
    height: 30vh;
}
.author{
    margin-left: 3rem;
    color: black;
}
.post-image{
    width: auto;
    height: 350px;
    margin-left: 1rem;
}
#postVideo{
    width: auto;
    height: 480px;
    margin-left: 1rem;
}
.post-text{
    line-height: 41px;
    margin-left: 1rem;
}
.post-title{
    margin-bottom: 1px;
    font-size: 24px;
    line-height: 1.3;
    margin-left: 2rem;
}
.post {
    width: 80vw;
    height: fit-content;
    padding-bottom: 28px;
    padding-top: 0.3em;
    background-color: rgb(248, 244, 244);
    margin-bottom: 7vh;
    margin-top: 7vh;
    background-repeat: repeat;
}
#posts {
    display: grid;
    overflow-y: scroll;
    height: 26em;
    width: 82.5vw;
    margin: 0 auto; /* Center horizontally */
}
label {
    background-color: rgb(170, 171, 171);
    border: 1.5px solid black;
    color: rgb(0, 0, 0);
    padding: 0.1rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    margin-top: 0.5rem;
    width: fit-content;
}
label:hover{
    background-color: rgb(212, 212, 212);
    cursor: pointer;
}
main p{
    margin-left: 8%;
    margin-bottom: -10%;
}
.thought {
    margin-left: 1em;
    resize: none;
    height: auto;
    margin-right: 1em;
    margin-bottom: 5px;
    padding: 5px;
    background-color: rgb(170, 171, 171);
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 16px;
    width: calc(100% - 3em);
}

.submit{
    padding: 5px;
    background-color: rgb(185, 186, 187);
    border: 1.5px solid black;
    border-radius: 5px;
    font-size: 16px;
    margin-top: -5%;
    color: rgb(0, 0, 0);
}
.submit:hover{
    background-color: rgb(181, 181, 182);
    cursor: pointer;
}
body {
    background: rgb(76, 76, 76);
    height: fit-content;
    position: relative;
    padding-bottom: 20vh;
}
#newusers{
    overflow: scroll;
}
p{
    font-size: 18px;
}
hr{
    border-color: black;
}
#topstuffs{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
}
#ts1{
    height: auto;
    width: 25vw;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: rgb(116, 172, 224);
    border: 2px solid black;
    z-index: 5;
}
#ts2{
    box-sizing: border-box;
    height: fit-content;
    width: 45vw;
    margin-left: 0;
    margin-top: 16px;
    padding-bottom: 1vh;
    border-radius: 10px;
    background-color: rgb(106, 111, 115);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    z-index: 5;
    overflow: hidden;
}
#ts3{
    height: auto;
    width: 25vw;
    margin-left: 0;
    margin-top: 16px;
    border-radius: 10px;
    background-color: rgb(116, 172, 224);
    border: 2px solid black;
    z-index: 5;
}
#ts4{
    height: auto;
    width: 25vw;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 16px;
    border-radius: 10px;
    background-color: rgb(116, 172, 224);
    border: 2px solid black;
    z-index: 5;
}
#addTag{
    margin-left: 15px;
    border: 2px solid black;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
#logout{
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(116, 172, 224);
    border: 1px solid black;
}
#logout:hover{
    padding: 5px;
    margin-left: 5px;
    border-radius: 5px;
    background-color: rgb(105, 158, 207);
    border: 1px solid black;
    cursor: pointer;
}
pre{
    font-family: 'Ubuntu Mono', monospace;
    font-size: 18px;
    line-height: 30px;
    white-space: pre-wrap;
    margin-bottom: 5px;
    margin-top: 1rem;
    padding: none;
}
#PostTypeSelection{
    border-radius: 5px;
    background-color: rgb(105, 158, 207);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1em;
    margin-bottom: 1em;
    width: auto;
    margin-right: 1em;
}
.add_option{
    border-radius: 5px;
    background-color: rgb(105, 158, 207);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1rem;
    margin-bottom: 1em;
    width: fit-content;
}
.add_option:hover{
    border-radius: 5px;
    background-color: rgb(96, 145, 189);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1rem;
    margin-bottom: 1em;
    cursor: pointer;
    width: fit-content;
}
#choiceinput{
    border-radius: 5px;
    background-color: rgb(105, 158, 207);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1rem;
    margin-bottom: 1em;
    margin-right: 1em;
    width: calc(100% - 3em);
}
#border-only{
    border: solid 2px black;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 1em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}
#border-only {
    display: none;
}
#border-only.active {
    display: flex;
}
.remove_option{
    border-radius: 5px;
    background-color: rgb(105, 158, 207);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1rem;
    margin-bottom: 1em;
    margin-right: 1em;
    width: fit-content;
}
.remove_option:hover{
    border-radius: 5px;
    background-color: rgb(96, 145, 189);
    border: 1px solid black;
    padding: 3px;
    margin-left: 1rem;
    margin-bottom: 1em;
    margin-right: 1em;
    cursor: pointer;
    width: fit-content;
}
#add_remove{
    display: flex;
    flex-direction: row;
}
.option, .option:hover{
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
#poll, #poll:hover{
    border: none;
    width: fit-content;
}
.numbervoted, .numbervoted:hover{
    margin-bottom: 1em;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-size: 12px;
}
#vote{
    margin-left: 1em;
}